.city-info {
    margin: 20px;
    max-width: 600px;
    margin-left: auto;
    margin-right: auto;
    list-style-type: none;
    font-family: Arial, sans-serif;
  }
  
  .city-name {
    font-size: 18px;
    font-weight: bold;
    color: #000000;
    margin-bottom: 10px;
    border: none;
  }
  .forecast-list {
    list-style-type: none;
    padding: 0;
    margin: 0;
  }
  
  li {
    background-color: #fff;
    border: 1px solid #ddd;
    color: #363636;
    border-radius: 4px;
    padding: 10px;
    margin-bottom: 8px;
    font-size: 14px;
  }
  
   div {
    margin: 20px;
    max-width: 600px;
    margin-left: auto;
    margin-right: auto;
  } 
  